.card {
	min-width: 50vw;
}

.cardMatch {
	min-height: 80vh;
	min-width: 80vw;
	background: #a4b8c4;
	border-radius: 15px;
}

.imgBox {
	height: 150px;
	width: 150px;
	margin-right: 10px;
}

.selectedTrackBox {
	background-color: #0cca4a;
	color: white;
}